name: Unit tests
on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: test-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-${{ github.repository }}
  cancel-in-progress: true

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - name: Install earthly
        uses: Luet-lab/luet-install-action@v1
        with:
          repository: quay.io/kairos/packages
          packages: utils/earthly
      - name: Run tests
        run: |
          earthly +test
      - name: Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.out
      - name: Generate version
        run: echo "VERSION=$(git describe --always --tags --dirty)" >> $GITHUB_ENV
      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          version: latest
          args: --snapshot --clean
      - uses: actions/upload-artifact@v3
        with:
          name: build.zip
          path: |
            dist/*
